<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pages</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color: rgb(194, 187, 187);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

        <a class="navbar-brand" href="/">Pages</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link mx-3" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="write">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="notes">Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="contact">Contact Us</a>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>

    <div class="container  mt-5" style="text-align: center;">
        <div class="text-center col-8 mx-auto 0">
            <h2>Contact Us</h2>
        </div>
    </div>

    <div class="conatiner text-center mt-5">
        <div class="row col-9 mx-auto 0">
            <div class="col-sm-6 mt-5 mx-auto 0">
                <div class="card" style=" background-color: rgb(99, 87, 73);">
                    <div class="card-body">
                        <h5 class="card-title"><b><i>Have Questions?</i></b></h5>
                        <p class="card-text"><i>We're here to help.</i></p>
                        <div class="text-center">
                            <p><i>Click below to mail me</i></p>
                            <a href="mailto:achanta0406@gmail.com" class="btn btn-outline-light">Mail me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>